# Auto detect text files and perform LF normalization
Cursor/* linguist-vendored=false
DataType/* linguist-vendored=false
Fundamentals/* linguist-vendored=false
Package/* linguist-vendored=false
*.sql linguist-detectable=false

